@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero{
  @apply block md:grid;
  grid-template-columns: .4fr .6fr;
  
}
select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"]{

@apply block  w-full mb-2 rounded-xl;
@apply border p-2  border-light-olive-green bg-green-50 ;
}


input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled{
  
@apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;

}

label{
  @apply text-gray-500 text-sm leading-tight;
}
label + input{
 margin-top: -2px;
}


button, .button{
  @apply flex justify-center gap-2 w-full text-gray-700;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"], .submit, button.primary{
  @apply border border-light-olive-green-light bg-light-olive-green-light text-gray-600 font-semibold;

}

button[type="submit"]:disabled, .submit:disabled{
  @apply cursor-not-allowed;
}

.or-divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.or-divider::before,
.or-divider::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px; 
    background: linear-gradient(to right, rgba(169, 169, 169, 0), rgba(169, 169, 169, 1), rgba(169, 169, 169, 0));
    vertical-align: middle;
}

div.tabs> * {
  @apply bg-light-tan text-gray-500 rounded-full py-2 px-4;
}

div.tabs> *.active{
  @apply bg-primary text-white

}

.flying-button-parent button{
  @apply mt-4 bg-primary text-white rounded-full px-8 py-2

}